.inline {
  display: inline;
}

.block {
  display: block;
  margin: auto;
  width = 100%
}

.inlineBlock {
  display: inline-block;
}

.textAlignCenter {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.bottomCenterContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
}

.greyBackground {
  background-color: #cccccc;
}

.whiteBackground {
  background-color: #ffffff;
}

input[type="number"] {
  width: 4em;
}

label:first-letter {
  text-transform:capitalize;
}

.circle {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
