.inline {
  display: inline;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.textAlignCenter {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.bottomCenterContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
}

.whiteBackground {
  background-color: #ffffff;
}



